<h2>Sign In</h2>

    <diV>
    <label>Username:
        <input #userName required/>
    </label>
    </diV>
    <br/>
    <div>
    <label>Password:
        <input type="password" #password required/>
    </label>
    </div>

    <p>Select your rights:</p>

    <div>
        <input type="radio" name="rights" [(ngModel)]="radioData" [value]="true" #admin checked> 
        <label for="admin">Admin</label>
    </div>

    <div>
        <input type="radio" name="rights" [(ngModel)]="radioData" [value]="false" #viewer> 
        <label for="viewer">Viewer</label>
    </div>
    <br/>
    <button (click)="add(userName.value, password.value, this.radioData)">
        Sign In
    </button>
    <div *ngIf="alreadyExist">
        <br/>
        <p>This username is already taken.</p>
        <p>Please choose another one.</p>
    </div>
    <br/>
    <h2>Already registered?</h2>
        <nav>
            <a routerLink="/login">Login Here</a>
        </nav>
    




