#container1 {
    width: auto;
    float: left;
    border: 3px cornsilk solid;
    padding: 10px;
    margin-left: 38%;
    margin-right: 38%;
}

#container2 {
    width: auto;
    float: left;
    padding: 10px;
    margin-left: 42%;
    margin-right: 42%;
}

#top {
    width: 100%;
    float: left;
    text-align: center;
}

#bottom {
    width: 100%;
    float: left;
    text-align: center;
}

button {
    background-color: white;
    border: 1px lavender solid;
    border-radius: 4px;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 4px 6px;
    cursor: pointer;
}

button:hover {
    background-color: lavender;
    color: black;
}