#container {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 /* Style The Dropdown Button */
.dropbtn {
    background-color: lavender;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: cornsilk;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content li:hover {background-color: whitesmoke}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: cornsilk;
    color: black;
  }
  
li {
    cursor: pointer;
    margin-bottom: 10px;
}

button {
    background-color: white;
    border: 1px lavender solid;
    border-radius: 4px;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 4px 6px;
    cursor: pointer;
}

button:hover {
    background-color: lavender;
    color: black;
}

.custom-select select{
    background-color: cornsilk;
    width: auto;
    padding: 5px;
  }
