.custom-select select{
    background-color: cornsilk;
    width: auto;
    padding: 5px;
  }

#container {
    display: flex;
    flex-direction: column;
    
 }

 #top {
    text-align: center;
}

 #containerX {
    display: flex;
    justify-content: space-evenly;
 }

#container1 {
    width: auto;
    border: 3px cornsilk solid;
    padding: 10px;
}

#container2 {
    width: auto;
    border: 3px lavender solid;
    padding: 10px;
}

button {
    background-color: white;
    border: 1px lavender solid;
    border-radius: 4px;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 4px 6px;
    cursor: pointer;
}

button:hover {
    background-color: lavender;
    color: black;
}