#container{
    width: 100%;
}

#topleft {
    width: auto;
    float: left;
    margin-right: 50px;
}

#left {
    width: auto;
    float: left;
    border: 3px lavender solid;
    padding: 10px;
}

#topright {
    width: auto;
    float: left;
    margin-left: 50px;
}

#right {
    width: auto;
    float: left;
    border: 3px cornsilk solid;
    padding: 10px;
}

button {
    background-color: white;
    border: 1px lavender solid;
    border-radius: 4px;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 4px 6px;
    cursor: pointer;
}

button:hover {
    background-color: lavender;
    color: black;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: lavender;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content li:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: cornsilk;
    color: black;
  }