<h2>Log In</h2>

    <diV>
    <label>Username:
        <input #userName required/>
    </label>
    </diV>
    <br/>
    <div>
    <label>Password:
        <input type="password" #password required/>
    </label>
    </div>

    <br/>
    <button (click)="check(userName.value, password.value)">
        Log In
    </button>
    <br/>
    <div *ngIf="!isRegistered">
        <p>Your username/password isn't valid</p>
        <h2>Not registered yet?</h2>
        <nav>
            <a routerLink="">Register Here</a>
        </nav>
    </div>
