<div id="container">
    <h2>FamilyTree Software Login</h2>

    <div id="container1">
        <div>
            <label>Username:<br/>
                <input #userName required/>
            </label>
        </div>
        <br/>
        <div>
            <label>Password:<br/>
                <input type="password" #password required/>
            </label>
        </div>
        <br/>
        <div style="text-align:center;">
            <button (click)="check(userName.value, password.value) ; 
                                check2(userName.value, password.value) ">
                Log In
            </button>
        </div>

        <div id="notRegistered" *ngIf="!isRegistered">
            <p>Your username/<br/>
                password isn't valid.</p>
        </div>
    </div>

    <div *ngIf="!isRegistered">
        <h2>Not registered yet?</h2>
    </div>

    <div *ngIf="!isRegistered">
        <div style="text-align:center;">
            <button (click)="signInPage()">
                Register Here
            </button>
        </div>
    </div>  
</div>
